  
body {
    margin: 0;
    padding: 0;
    padding: 0;
    }
    
    .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 2.5fr 1fr;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main sd sd sd sd sd"
    "ft ft ft ft ft ft ft ft";
    }
    
    
    .box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    }
    
    #one{ 
      grid-area: hd; 
    }
    
    #two { 
      grid-area: ft; 
    }
    
    #three { 
      grid-area: main;
    }
    
    #four { 
      grid-area: sd; 
      justify-content: space-evenly;
    }
    
    .fixed-container{
        position: fixed;
        background: fixed;
        background-color: #333;
        width: 100%;
        margin-top: 20px;
    }
    
    
    
    .card_container{
    background-color: #333;
    box-shadow: 5px 5px 50px 5px;
    margin-top: -700px;
    width: 15%;
    height: 500px;  
    position: fixed;
    }
    
    .btns{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 12px;
    font: bold;
    font-family: 'Roboto', sans-serif;    
    text-decoration: none;
    margin: 5px 15px;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    box-shadow: 0 25px 25px -5px black;  
    }
    
    
    .image1{
    display: inline-block;
    max-width: 300px;
    max-height:300px;    
    cursor: pointer;
    }
    
    .btns::before{
    background: #ff7675;    
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
    }
    
    .btns1::before{
    width: 0;
    height: 100%;
    background:black;
    }
    
    .btns:hover::before{
        width: 100%;    
    }
    
    .btns2::before{
    width: 100%;
    height: 0;
    background:black;
    }
    
    .btns2:hover::before{
    height: 100%;
    }
    
    .btns3::before{
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    background:black;
    }
    
    .btns3:hover::before{
        height: 380%;
    }
    
    .btns4::before{
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    background:black;
    }
    
    .btns4:hover::before{
    height: 380%;
    }
    
    .profile_img{
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url('pexels-photo-2245373.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    -webkit-mask-image: linear-gradient(to top, transparent 20%, #1e1f26 75%);      
    }
    
    .profile_img ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    .profile_img ul li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #1e1f26;
    text-align: center;
    transform: rotateY(90deg);
    transition: 0.5s;
    }
    
    .profile_img:hover ul li {
    transform: rotateY(0deg);
    }
    
    .profile_img:hover ul li:nth-child(1) {
    transition-delay: 0.2s;
    }
     
    .profile_img:hover ul li:nth-child(2) {
    transition-delay: 0.6s;
    }
    
    .profile_img:hover ul li:nth-child(3) {
    transition-delay: 0.8s;
    }
    
    .profile_img:hover ul li:nth-child(4) {
    transition-delay: 1s;
    }
    
    .profile_img ul li a{
    color: #ef4141;
    }
    
    .profile_img ul li a:hover {
    color:#fff;
    }
    
    .profile_img::before{
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    background-color: rgba(255,255,255,0.3);
    transform: skew(45deg);
    transition: 0.5s;
    }
    
    .profile_img:hover::before{
    left: -180%;
    }
    
    .text_content{
    margin: 0 20px;
    color: #e7e7e7;
    margin-top: -15%;
    }
       
    .text_description{
    font-size: 14px;
    font-weight: 400;
    color:#9b9b9b;
    line-height: 1.3;
    text-align: justify;
    align-content: center;
    }
    
    .btn{ 
    display: inline-block;
    width: 60px;
    height: 60px;
    background:#444;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 25px 25px -5px black;
    color: black;
    overflow: hidden;
    position: relative;
    text-align: center; 
    }
    
    .btn i{
    line-height: 60px;
    font-size: 36px;
    transition: 0.2s linear;
    }
    
    .btn:hover i{
    transform: scale(1.3);
    color: black;
    }
    
    .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height:120%;
    background: #737373;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
    }
    
    .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%:
    left: -10%; 
    }
    
    .main-text{
    margin-top: 100px;
    margin-bottom: 200px;
    max-width: 80%;   
    color:white;
    text-align: justify;
    font-size: 16px;
    }
    
    .image2{
    max-width: 100%;
    }
    
    h1{
    font-size: 22px;
    }
    
    h2{
    font-size: 20px;
    }
    
    h3{
    font-size: 18;
    }
    
    h1.card-header{
    font-size: 10px;
    }
    
    .caption{
    font-style: italic;
    }
    
    @media(max-width: 415px){
    .container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 280px 4200px 900px 450px;
    grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";   
    }
    
    
    
    .fixed-container{
    text-align: center;
    position: fixed;
    margin-top:-5px;
    }
    
    .card_container{
    width: 75%;
    position: relative;
    margin-top: 200px;
    
    }
    
    .btns{
    text-align: center;
    } 
    
    .image1{
    display: inline-block;
    justify-content: center;
    cursor: pointer;    
    }
    
    .main-text{
    margin-top:300px;
    }
    }
    
    @media(min-width: 414px) and (max-width: 600px){
    .container {
    display: grid;
    justify-content: center;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 3000px 800px 100px;
    grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
    }
    
    .fixed-container{
    margin-top: -90px;
    }
    
    .card_container{
    margin-top: -200px;
    position: relative;
    width: 55%;     
    }
    
    
    .image1{
    display: inline-block;
    cursor: pointer;
    }
    
    .btns{
    display: inline-block;
    max-width: 8px; 
    }
    
    .main-text{
    
    text-align: justify;
    }
    }
    
    
    
    @media(min-width: 600px) and (max-width: 1100px){
    .container{
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 350px 400px;
    grid-template-rows: 150px 3500px 300px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main sd sd sd sd sd sd"
    "ft ft ft ft ft ft ft ft";   
    }
    
    .fixed-container{
    margin-top: -2%;  
    }
    
    .card_container{
    margin-top: -1300px;
    position: fixed;
    margin-bottom: 300px;
    width:25%;
    }
    
    .image1{
    display: inline-block;
    cursor: pointer;   
    }
    
    .main-text{
    margin-top: -500px;
    }
    }
    
    @media(min-width: 1100px) {
    .container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.5fr 0.4fr;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main sd sd sd sd sd"
    "ft ft ft ft ft ft ft ft";
    }  
    
    .image1{
    display: inline-block;
    cursor: pointer;   
    }
    }
    
    @keyframes aaa {
      0%{
        left: -110%;
        top: 90%;
      }50%{
        left: 10%;
        top: -30%;
      }100%{
        top: -10%;
        left: -10%